<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Electricity Prices</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background: linear-gradient(45deg, #FF5733, #FFC300); padding: 0;">
    <div class="container" style="padding: 20px;">
        <div class="row">
            <div class="col">
                <h1 class="text-center" style="color: #fff;">Electricity prices</h1>
                <p class="text-center" style="color: #fff; font-size: 24px;">Here you can find out the energy prices throughout Sweden!</p>
                <a class="btn btn-primary btn-lg mt-5 mb-5" href="form" role="button" style="border-radius: 25px;">Click here to enter data</a>
            </div>
        </div>
    </div>
</body>
</html>
