<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}title{% endblock %}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background: url("{{ url_for('static', filename='images/tricity.jpg') }}") no-repeat center fixed;
            background-size: cover;
            padding: 0;
            margin: 0;
        }

        #content {
            padding: 20px;
            position: relative;
            z-index: 1;
        }
    </style>
</head>

<body>
    <div id="content">
        {% block content %}content{% endblock %}
    </div>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
